In [110]:
import numpy as np
import pandas as pd
import os
os.chdir("C:\\Users\\user\\Downloads")

In [111]:
# Print The Version of Numpy
np.__version__

'1.19.5'

In [112]:
df=pd.read_csv("data.csv")
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [113]:
#Number of Records
print("Number of  Records in the dataset is ",len(df))

Number of  Records in the dataset is  11914

In [114]:
# Display the different number of brands used 
df["Make"].unique()

array(['BMW', 'Audi', 'FIAT', 'Mercedes-Benz', 'Chrysler', 'Nissan',
       'Volvo', 'Mazda', 'Mitsubishi', 'Ferrari', 'Alfa Romeo', 'Toyota',
       'McLaren', 'Maybach', 'Pontiac', 'Porsche', 'Saab', 'GMC',
       'Hyundai', 'Plymouth', 'Honda', 'Oldsmobile', 'Suzuki', 'Ford',
       'Cadillac', 'Kia', 'Bentley', 'Chevrolet', 'Dodge', 'Lamborghini',
       'Lincoln', 'Subaru', 'Volkswagen', 'Spyker', 'Buick', 'Acura',
       'Rolls-Royce', 'Maserati', 'Lexus', 'Aston Martin', 'Land Rover',
       'Lotus', 'Infiniti', 'Scion', 'Genesis', 'HUMMER', 'Tesla',
       'Bugatti'], dtype=object)

In [115]:
#display the frequent 3 car models
df['Make'].value_counts().nlargest(3)

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

In [116]:
#Getting the Number of Unique Audi Models
Unique_Audi_models=df[df["Make"]=="Audi"]["Model"].unique()
print("Number of Unique Audi Models is", len(Unique_Audi_models))

Number of Unique Audi Models is 34

In [117]:
#Columsn with Nan Values
df.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [118]:
#Let's Count Now the number of Columns with Nan Values,
print("Number of Columns with Nan Values is ",df.isna().any(axis=0).sum())

Number of Columns with Nan Values is  5

In [119]:
# Let's Compute the Median Value of Engine cylinders 

df["Engine Cylinders"].median()

6.0

In [120]:
# let's see the mean value of Engine Cylinders
df.describe()

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,11914.000000,11845.00000,11884.000000,11908.000000,11914.000000,11914.000000,11914.000000,1.191400e+04
mean,2010.384338,249.38607,5.628829,3.436093,26.637485,19.733255,1554.911197,4.059474e+04
std,7.579740,109.19187,1.780559,0.881315,8.863001,8.987798,1441.855347,6.010910e+04
min,1990.000000,55.00000,0.000000,2.000000,12.000000,7.000000,2.000000,2.000000e+03
25%,2007.000000,170.00000,4.000000,2.000000,22.000000,16.000000,549.000000,2.100000e+04
50%,2015.000000,227.00000,6.000000,4.000000,26.000000,18.000000,1385.000000,2.999500e+04
75%,2016.000000,300.00000,6.000000,4.000000,30.000000,22.000000,2009.000000,4.223125e+04
max,2017.000000,1001.00000,16.000000,4.000000,354.000000,137.000000,5657.000000,2.065902e+06

In [121]:
#The most frequent Value of engine cylinders
x=df['Engine Cylinders'].value_counts().nlargest(1)
most_frequent=x.keys()[0]

In [122]:
#Let's fill the Nan value in the Engine Cylindre  
df["Engine Cylinders"]=df["Engine Cylinders"].replace(np.nan,x.keys()[0])
#let's calculate the median value again
df["Engine Cylinders"].median()

6.0

As we can see the median Value did n't change after replacing the Nan Values

In [123]:
#let's see the mean value of the engine cylinder
df.describe()
#it changes after viewing the Engine Cylinders

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,11914.000000,11845.00000,11914.000000,11908.000000,11914.000000,11914.000000,11914.000000,1.191400e+04
mean,2010.384338,249.38607,5.624727,3.436093,26.637485,19.733255,1554.911197,4.059474e+04
std,7.579740,109.19187,1.780189,0.881315,8.863001,8.987798,1441.855347,6.010910e+04
min,1990.000000,55.00000,0.000000,2.000000,12.000000,7.000000,2.000000,2.000000e+03
25%,2007.000000,170.00000,4.000000,2.000000,22.000000,16.000000,549.000000,2.100000e+04
50%,2015.000000,227.00000,6.000000,4.000000,26.000000,18.000000,1385.000000,2.999500e+04
75%,2016.000000,300.00000,6.000000,4.000000,30.000000,22.000000,2009.000000,4.223125e+04
max,2017.000000,1001.00000,16.000000,4.000000,354.000000,137.000000,5657.000000,2.065902e+06

In [124]:
# Question 7
df3=df[df["Make"]=="Lotus"][ ["Engine HP", "Engine Cylinders"]]
df3=df3.drop_duplicates()
#Converting to Numpy
X=df3.to_numpy()

In [125]:
multiplication=np.dot(X.T,X)
inverse_mul=np.linalg.inv(multiplication)
y=np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])
w=np.dot(np.dot(inverse_mul,X.T),y)

In [126]:
w
#the first element is  4.59494481

array([  4.59494481, -63.56432501])